body {
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin: 0 auto;
}

i {
  font-size: 2em;
  color: purple;
}


.animate {
  animation-name: bat;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}


@keyframes bat {
0% {transform: translate(0,0);}
100% {transform: translate(2000px,0);}
}



.about {
  position: relative;
  z-index: -1000;
  width: 750px;
  height: 250px;
  /*border: 2px red solid;*/
  padding: 50px;
  /*margin: 25px;*/
  /*box-shadow: 5px 10px black;*/
  background-color: purple;
  box-sizing: border-box;
}



.about > img {
  float: right;
  width: 40%;
}



.group:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: 2s;
}

a:visited {
  color: red;
}


a:hover {
  text-decoration: underline;
  color: orange;
}

a:active {
  color: cyan;
}


.catalogcover {
  width: 20%;
  float: left;
  padding-right: 5%;
}

.catalogcover > img {
  width: 40%;
}


.infocover {
  width: 40%;
  float: right;
  margin-left: 5%;
}

.infocover > img {
  width: 100%;
}

.postercover {
  float: left;
  width: 40%;
  margin-right: 5%;
}

.postercover > img {
  width: 80%;
}

ul, li {
  list-style-type: none;
  display: inline-flex;
  padding-left: 5%;
  padding-right: 5%;

}

ul {
  /*width: 75%;*/
  margin-right: 5%;
}

li > a {
  color: white;
}
nav {
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

nav > a {
  color: white;
  padding-left: 5%;
  align-self: center;
}

form {
  width: 65%;
  padding: 2%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
  align-self: center;
}

.newsletter {
  /*background-color: cyan;*/
height: 25vh;
padding: 2%;
background-image: url(../img/IMG_9827.jpeg);
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: row;

}

.emailbox {
  padding: 2%;
  width: 65%;
  margin-right: 5%;
}

.submitbutton {
  padding: 2%;
  width: 15%;
}

.Contact {
  background-color: black;
  color: white;
  display: flex;
}

.notebox {
  width: 50%;
  padding: 5%;
}

.socialbox {
  width: 50%;
  padding: 5%;
}

.socialboxbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
}


a.social {
  color: white;
  padding: 2%;
}



@media all and (min-width: 320px) and (max-width: 780px) {
  .about {
    background-color: cyan;
  }

  .catalogcover {
    float: none;
    width: 100%;
    margin: 0;
  }

  .infocover {
    float: none;
    width: 100%;
    margin: 0%;
  }

.postercover {
  float: none;
  width: 100%;
  margin: 0%;
}

}

.newsletter > img {
  position: relative;
  width: 100%;
}
